body{
    background-color: rgb(215, 219, 216);
}

.head{
    margin-top: 4rem;
    width: 90%;
    height: 10vh;
    margin-left: 5%;
    background-color:rgb(8, 224, 206);
    cursor: pointer;
}

.head a{
    margin-top: 3rem;
    text-decoration: none;
    margin-left: 20%;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 18px;
}
.head button{
    margin-top: 2rem;
    padding: 10px 40px;
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
}
.red{
    background-color: red;
    color: white;
    text-transform: capitalize;
}
.nextpart{
   width: 90%;
    margin-left: 5%;
    height: 65vh;
   background-color:rgb(8, 224, 206);
   margin-top: 0.5rem;
   cursor: pointer;
}
fieldset{
    width: 40%;
    height: 20rem;
    margin-left: 27%;
    border-radius: 20px;
    cursor: pointer;
}
label{
    margin-top: 5rem;
    margin-left: 43%;
    cursor: pointer;
}
input{
    all: unset;
    border-bottom: 2px solid black;
     margin-left: 32%;
     margin-top: 1rem;
     cursor: pointer;

}
.nextpart a{
    text-decoration: none;
    margin-left: 35%;
}
legend{
    margin-left: 43%;
}
.send{
    width: 30%;
    margin-left: 35%;
}